In [1]:
import csv
import pandas as pd
from jsonschema import validate
pd.set_option('display.max_columns', 100)

df = pd.read_csv('C:/Users/User/Documents/Plato/organizations.csv')

In [5]:
df2 = df.sort_values(['rank'], ascending=[True]).head(50000)
df2.head()

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,legal_name,roles,domain,homepage_url,country_code,state_code,region,city,address,postal_code,status,short_description,category_list,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,closed_on,employee_count,email,phone,facebook_url,linkedin_url,twitter_url,logo_url,aliases,primary_role,num_exits
208545,3718597a-dd39-6661-3630-09cdd43bcac2,Techstars,organization,techstars,https://www.crunchbase.com/organization/techstars,1.0,2014-06-09 20:58:12,2019-04-01 23:50:47,NaN,"['company', 'investor']",techstars.com,https://www.techstars.com/,USA,CO,Colorado,Boulder,NaN,NaN,operating,Techstars is the worldwide network that helps ...,"['Finance', 'Financial Services', 'Venture Cap...","['Financial Services', 'Lending and Investments']",4.0,6.180000e+07,6.180000e+07,USD,2006-10-01,2016-02-01,NaN,11-50,info@techstars.com,NaN,https://www.facebook.com/techstars,https://www.linkedin.com/company/techstars/,https://twitter.com/techstars,https://crunchbase-production-res.cloudinary.c...,NaN,investor,152.0
52311,1ac25206-3b8a-b4a6-48b3-5df4b671e586,Xiaomi,organization,xiaomi,https://www.crunchbase.com/organization/xiaomi,2.0,2010-12-24 12:00:12,2019-04-01 23:48:31,Xiaomi Inc.,"['company', 'investor']",mi.com,http://www.mi.com/en/,CHN,NaN,Beijing,Beijing,68 Qinghe Road Huaren Wucaicheng,100085,ipo,Xiaomi is an electronics and software company ...,"['Consumer Electronics', 'Internet', 'Mobile']","['Consumer Electronics', 'Hardware', 'Internet...",9.0,3.447000e+09,3.447000e+09,USD,2010-04-04,2017-07-28,NaN,1001-5000,xiaomi@xiaomi.com,NaN,https://www.facebook.com/xiaomiglobal/,https://www.linkedin.com/company/xiaomi-techno...,https://twitter.com/xiaomi,https://crunchbase-production-res.cloudinary.c...,"['Mi', '小米', '小米科技']",company,9.0
33939,08644a69-76ed-ce2d-afff-b236a22efa69,Instagram,organization,instagram,https://www.crunchbase.com/organization/instagram,3.0,2010-03-06 06:04:14,2019-04-01 23:49:40,"Instagram, Inc.",['company'],instagram.com,http://instagram.com,USA,CA,California,Menlo Park,1 Hacker Way Building 14 First Floor,NaN,acquired,Instagram is a free photo sharing application ...,"['Mobile', 'Photo Sharing', 'Photography', 'So...","['Content and Publishing', 'Internet Services'...",4.0,5.750000e+07,5.750000e+07,USD,2010-10-06,2012-04-05,NaN,251-500,NaN,NaN,http://www.facebook.com/instagram,http://www.linkedin.com/company/instagram,http://twitter.com/instagram,https://crunchbase-production-res.cloudinary.c...,NaN,company,NaN
60155,0ab984e9-7413-addd-0b09-7fd5fdef4150,National Institutes of Health,organization,national-institutes-of-health,https://www.crunchbase.com/organization/nation...,4.0,2011-05-06 10:30:55,2018-11-28 15:32:12,NaN,['investor'],nih.gov,http://www.nih.gov,USA,MD,Maryland,Bethesda,9000 Rockville Pike,20892,operating,National Institutes of Health is a biomedical ...,"['Biotechnology', 'Financial Services', 'Healt...","['Biotechnology', 'Financial Services', 'Healt...",2.0,5.000000e+06,5.000000e+06,USD,1887-01-01,2017-09-28,NaN,10000+,NIHinfo@od.nih.gov,844.517.3111,http://www.facebook.com/nih.gov,http://www.linkedin.com/company/national-insti...,http://twitter.com/NIHforHealth,https://crunchbase-production-res.cloudinary.c...,['NIH'],company,33.0
91555,da761bfc-adb7-e9b1-b90d-52d436c96e75,Entrepreneur First,organization,entrepreneur-first,https://www.crunchbase.com/organization/entrep...,5.0,2012-10-22 18:07:05,2019-03-30 10:18:22,Entrepreneur First Operations Limited,['investor'],joinef.com,http://www.joinef.com,GBR,NaN,England,London,Block L The Biscuit Factory Clements Road,SE16 4DG,operating,Entrepreneur First invests in technologists to...,"['Communities', 'Information Technology', 'Ven...","['Community and Lifestyle', 'Financial Service...",6.0,2.204220e+07,2.204220e+07,USD,2011-09-01,2018-02-01,NaN,51-100,info@joinef.com,NaN,http://www.facebook.com/joinef,https://www.linkedin.com/company/2340783,http://twitter.com/join_ef,https://crunchbase-production-res.cloudinary.c...,NaN,investor,7.0

In [33]:
df2_1 = df2[['status', 'uuid']].groupby(['status' ]).count()
df2_1 = pd.DataFrame(df2_1).reset_index()
df2_1

      status   uuid
0   acquired   6077
1     closed    944
2        ipo   2991
3  operating  39988

In [34]:
df1_1 = df[['status', 'uuid']].groupby(['status' ]).count()
df1_1 = pd.DataFrame(df1_1).reset_index()
df1_1

      status    uuid
0   acquired   83306
1     closed   33341
2        ipo   13663
3  operating  626365

In [39]:
# df2_1.join(df1_1)
df4= pd.concat([df2_1, df1_1], ignore_index=True, axis=1)
df4

           0      1          2       3
0   acquired   6077   acquired   83306
1     closed    944     closed   33341
2        ipo   2991        ipo   13663
3  operating  39988  operating  626365

In [45]:
df4['status'] = df4[1]/df4[3]
df4.index=df4[0]
df4 = df4.drop(df4.columns[[0, 1, 2,3]], axis=1)
df4

             status
0
acquired   0.072948
closed     0.028313
ipo        0.218912
operating  0.063841